<a href="https://colab.research.google.com/github/AMIT110409/PYspark-Handson-/blob/main/pyspark_setup_and_practice_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [17]:
!java -version

openjdk version "11.0.27" 2025-04-15
OpenJDK Runtime Environment (build 11.0.27+6-post-Ubuntu-0ubuntu122.04)
OpenJDK 64-Bit Server VM (build 11.0.27+6-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)

In [18]:
# Install Java (Spark requires Java)
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [19]:
# set the java environment variable
import os
os.environ["JAVA_HOME"] = "/user/lib/jvm/java-8-openjdk-amd64"
print("pyspark installation completed")

pyspark installation completed

In [20]:
# Find the actual path of the installed Java
!update-alternatives --display java

java - auto mode
  link best version is /usr/lib/jvm/java-11-openjdk-amd64/bin/java
  link currently points to /usr/lib/jvm/java-11-openjdk-amd64/bin/java
  link java is /usr/bin/java
  slave java.1.gz is /usr/share/man/man1/java.1.gz
/usr/lib/jvm/java-11-openjdk-amd64/bin/java - priority 1111
  slave java.1.gz: /usr/lib/jvm/java-11-openjdk-amd64/man/man1/java.1.gz
/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java - priority 1081
  slave java.1.gz: /usr/lib/jvm/java-8-openjdk-amd64/jre/man/man1/java.1.gz

In [22]:
# Download and extract Spark
spark_version = 'spark-3.5.1'
hadoop_version = 'hadoop3'
spark_filename = f'{spark_version}-bin-{hadoop_version}'
spark_tgz = f'{spark_filename}.tgz'
spark_url = f'https://archive.apache.org/dist/spark/{spark_version}/{spark_tgz}'

# Download Spark tarball
!wget -q {spark_url}

# Extract Spark tarball
!tar xf {spark_tgz}

# Set SPARK_HOME environment variable
import os
os.environ["SPARK_HOME"] = f"/content/{spark_filename}"

print(f"SPARK_HOME set to: {os.environ['SPARK_HOME']}")
print("Spark installation completed.")

SPARK_HOME set to: /content/spark-3.5.1-bin-hadoop3
Spark installation completed.

In [23]:
# set the java environment variable
import os

# Update this path based on the output of !update-alternatives --display java
# If the output shows /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java as the executable,
# the JAVA_HOME should be the directory above the 'jre' or 'bin' directory.
# In this example output, the path is /usr/lib/jvm/java-8-openjdk-amd64
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
print(f"JAVA_HOME set to: {os.environ['JAVA_HOME']}")
print("pyspark installation completed")

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd

# create spark session
spark = SparkSession.builder\
    .appName("PySpark Learning -Day 1")\
    .config("spark.sql.adaptive.enabled","true")\
    .config("spark.sql.adaptive.coalescePartitions.enabled","true")\
    .getOrCreate()
print(f"spark session created successfully")
print(f"Spark version: {spark.version}")
print(f"python version: {spark.sparkContext.pythonVer}")

JAVA_HOME set to: /usr/lib/jvm/java-8-openjdk-amd64
pyspark installation completed
spark session created successfully
Spark version: 3.5.1
python version: 3.11

In [24]:
import csv

# Path to your CSV file
csv_file = "2010-summary.csv"  # Change this to your actual file path

# List to store the formatted output
formatted_data = []

# Read and format
with open(csv_file, newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header, remove this if there's no header
    for row in reader:
        if len(row) >= 3:
            origin = row[0].strip()
            destination = row[1].strip()
            count = row[2].strip()
            formatted_data.append(f'("{origin}", "{destination}", {count})')

# Print or save result
print(",\n".join(formatted_data))

("United States", "Romania", 1),
("United States", "Ireland", 264),
("United States", "India", 69),
("Egypt", "United States", 24),
("Equatorial Guinea", "United States", 1),
("United States", "Singapore", 25),
("United States", "Grenada", 54),
("Costa Rica", "United States", 477),
("Senegal", "United States", 29),
("United States", "Marshall Islands", 44),
("Guyana", "United States", 17),
("United States", "Sint Maarten", 53),
("Malta", "United States", 1),
("Bolivia", "United States", 46),
("Anguilla", "United States", 21),
("Turks and Caicos Islands", "United States", 136),
("United States", "Afghanistan", 2),
("Saint Vincent and the Grenadines", "United States", 1),
("Italy", "United States", 390),
("United States", "Russia", 156),
("United States", "Federated States of Micronesia", 48),
("Pakistan", "United States", 9),
("United States", "Netherlands", 570),
("Iceland", "United States", 118),
("Marshall Islands", "United States", 77),
("Luxembourg", "United States", 91),
("Honduras", "United States", 391),
("The Bahamas", "United States", 903),
("El Salvador", "United States", 519),
("United States", "Senegal", 46),
("Samoa", "United States", 28),
("United States", "Angola", 18),
("Kazakhstan", "United States", 3),
("Switzerland", "United States", 315),
("United States", "Anguilla", 20),
("Sint Maarten", "United States", 61),
("Hong Kong", "United States", 252),
("Trinidad and Tobago", "United States", 187),
("Latvia", "United States", 12),
("United States", "Ecuador", 345),
("Slovakia", "United States", 1),
("Suriname", "United States", 12),
("Mexico", "United States", 6200),
("United States", "Cyprus", 1),
("Ecuador", "United States", 272),
("United States", "Bosnia and Herzegovina", 1),
("United States", "Portugal", 104),
("United States", "Costa Rica", 501),
("United States", "Guatemala", 333),
("United States", "Suriname", 13),
("Colombia", "United States", 785),
("United States", "Cape Verde", 18),
("United States", "Jamaica", 757),
("United States", "Malaysia", 3),
("Norway", "United States", 29),
("United States", "Morocco", 16),
("Thailand", "United States", 16),
("Venezuela", "United States", 377),
("United States", "Palau", 30),
("United States", "Samoa", 28),
("United States", "Algeria", 1),
("United States", "Venezuela", 341),
("Panama", "United States", 355),
("United States", "Finland", 20),
("United States", "Chile", 176),
("Morocco", "United States", 16),
("United States", "Greece", 61),
("Antigua and Barbuda", "United States", 123),
("Azerbaijan", "United States", 1),
("United States", "The Bahamas", 959),
("New Zealand", "United States", 86),
("Liberia", "United States", 1),
("United States", "Hong Kong", 293),
("Hungary", "United States", 14),
("United States", "China", 505),
("United States", "Vietnam", 1),
("Sweden", "United States", 65),
("United States", "Kuwait", 25),
("United States", "Dominican Republic", 1150),
("United States", "Egypt", 25),
("Israel", "United States", 117),
("United States", "United States", 348113),
("United States", "Luxembourg", 90),
("Ethiopia", "United States", 12),
("United States", "Poland", 61),
("Martinique", "United States", 23),
("Saint Barthelemy", "United States", 28),
("United States", "Saint Barthelemy", 29),
("United States", "Turkey", 87),
("Barbados", "United States", 130),
("United States", "Estonia", 1),
("United States", "Azerbaijan", 1),
("Germany", "United States", 1392),
("Kyrgyzstan", "United States", 2),
("United States", "South Korea", 621),
("United States", "El Salvador", 464),
("Ireland", "United States", 231),
("United States", "Hungary", 15),
("United States", "Serbia", 1),
("Malaysia", "United States", 1),
("United States", "Panama", 363),
("United States", "Ethiopia", 12),
("United States", "Aruba", 349),
("United States", "Thailand", 13),
("United States", "Netherlands Antilles", 289),
("United States", "Turks and Caicos Islands", 147),
("Cyprus", "United States", 2),
("United States", "Pakistan", 15),
("United States", "Honduras", 393),
("Qatar", "United States", 41),
("Fiji", "United States", 53),
("Saint Kitts and Nevis", "United States", 113),
("Taiwan", "United States", 275),
("Haiti", "United States", 238),
("Kuwait", "United States", 26),
("Canada", "United States", 8271),
("Federated States of Micronesia", "United States", 46),
("United States", "Liberia", 1),
("Jamaica", "United States", 733),
("United States", "Malta", 2),
("Dominican Republic", "United States", 1109),
("Japan", "United States", 1383),
("United States", "Saint Vincent and the Grenadines", 16),
("United States", "Guadeloupe", 33),
("Finland", "United States", 24),
("United States", "Ukraine", 17),
("United States", "France", 776),
("United States", "Norway", 36),
("Aruba", "United States", 359),
("French Guiana", "United States", 4),
("United States", "Kiribati", 18),
("India", "United States", 66),
("British Virgin Islands", "United States", 49),
("United States", "Germany", 1406),
("Brazil", "United States", 995),
("United States", "New Zealand", 71),
("French Polynesia", "United States", 38),
("United Arab Emirates", "United States", 165),
("Singapore", "United States", 25),
("United States", "Mexico", 6220),
("Netherlands", "United States", 586),
("United States", "Sweden", 73),
("United States", "Gabon", 1),
("United States", "Martinique", 20),
("United States", "United Arab Emirates", 156),
("United States", "Bulgaria", 2),
("China", "United States", 448),
("Denmark", "United States", 98),
("United States", "Philippines", 116),
("United States", "Nicaragua", 181),
("United States", "Belgium", 355),
("Peru", "United States", 212),
("Argentina", "United States", 184),
("Cayman Islands", "United States", 247),
("South Africa", "United States", 25),
("United States", "Iceland", 129),
("United States", "Argentina", 159),
("Spain", "United States", 422),
("Netherlands Antilles", "United States", 286),
("Bermuda", "United States", 183),
("United States", "Austria", 34),
("United States", "Nigeria", 18),
("United States", "Bonaire, Sint Eustatius, and Saba", 16),
("Kiribati", "United States", 17),
("Saudi Arabia", "United States", 42),
("Czech Republic", "United States", 21),
("Belgium", "United States", 408),
("United States", "Israel", 122),
("United States", "Bahrain", 1),
("United States", "Saint Lucia", 121),
("Afghanistan", "United States", 11),
("United States", "British Virgin Islands", 47),
("Curacao", "United States", 20),
("Georgia", "United States", 2),
("United States", "Guyana", 20),
("United States", "Denmark", 107),
("Philippines", "United States", 132),
("Grenada", "United States", 65),
("Cape Verde", "United States", 18),
("Ukraine", "United States", 19),
("United States", "Papua New Guinea", 1),
("United States", "Saudi Arabia", 54),
("Russia", "United States", 152),
("Guatemala", "United States", 386),
("Saint Lucia", "United States", 116),
("Paraguay", "United States", 90),
("United States", "Curacao", 14),
("United States", "Taiwan", 252),
("United States", "South Africa", 15),
("Turkey", "United States", 75),
("United Kingdom", "United States", 1629),
("United States", "Greenland", 2),
("United States", "Spain", 442),
("Cuba", "United States", 243),
("United States", "Italy", 433),
("United States", "Switzerland", 334),
("Dominica", "United States", 28),
("United States", "Japan", 1307),
("Portugal", "United States", 102),
("United States", "Brazil", 578),
("Bahrain", "United States", 30),
("United States", "Peru", 284),
("Vietnam", "United States", 1),
("United States", "United Kingdom", 1503),
("United States", "Belize", 118),
("Belize", "United States", 121),
("United States", "Ghana", 28),
("United States", "Indonesia", 1),
("United States", "Fiji", 51),
("United States", "Canada", 8305),
("United States", "French Polynesia", 38),
("United States", "Antigua and Barbuda", 121),
("United States", "Burkina Faso", 1),
("Nicaragua", "United States", 178),
("United States", "Latvia", 13),
("United States", "Dominica", 32),
("United States", "Czech Republic", 22),
("United States", "Australia", 216),
("Austria", "United States", 36),
("United States", "Cook Islands", 12),
("Jordan", "United States", 50),
("Palau", "United States", 31),
("Uganda", "United States", 2),
("United States", "Cameroon", 1),
("South Korea", "United States", 683),
("Angola", "United States", 14),
("Ghana", "United States", 27),
("Guadeloupe", "United States", 40),
("France", "United States", 774),
("United States", "Kyrgyzstan", 12),
("Poland", "United States", 62),
("Nigeria", "United States", 16),
("United States", "Uruguay", 24),
("Greenland", "United States", 2),
("Chile", "United States", 166),
("United States", "Bermuda", 180),
("United States", "Cuba", 235),
("United States", "Colombia", 832),
("United States", "Qatar", 40),
("United States", "Barbados", 119),
("Australia", "United States", 290),
("United States", "Jordan", 51),
("United States", "Cayman Islands", 251),
("United States", "Trinidad and Tobago", 200),
("United States", "Bolivia", 39),
("United States", "Slovakia", 1),
("Uruguay", "United States", 54),
("Cook Islands", "United States", 13),
("United States", "Saint Kitts and Nevis", 127),
("Bulgaria", "United States", 1),
("United States", "French Guiana", 1),
("United States", "Haiti", 226),
("United States", "Uganda", 1),
("Bonaire, Sint Eustatius, and Saba", "United States", 16),
("Greece", "United States", 50)

In [25]:

# Your travel data (I've included a sample - you can expand this)
travel_data = [
("United States", "Romania", 1),
("United States", "Ireland", 264),
("United States", "India", 69),
("Egypt", "United States", 24),
("Equatorial Guinea", "United States", 1),
("United States", "Singapore", 25),
("United States", "Grenada", 54),
("Costa Rica", "United States", 477),
("Senegal", "United States", 29),
("United States", "Marshall Islands", 44),
("Guyana", "United States", 17),
("United States", "Sint Maarten", 53),
("Malta", "United States", 1),
("Bolivia", "United States", 46),
("Anguilla", "United States", 21),
("Turks and Caicos Islands", "United States", 136),
("United States", "Afghanistan", 2),
("Saint Vincent and the Grenadines", "United States", 1),
("Italy", "United States", 390),
("United States", "Russia", 156),
("United States", "Federated States of Micronesia", 48),
("Pakistan", "United States", 9),
("United States", "Netherlands", 570),
("Iceland", "United States", 118),
("Marshall Islands", "United States", 77),
("Luxembourg", "United States", 91),
("Honduras", "United States", 391),
("The Bahamas", "United States", 903),
("El Salvador", "United States", 519),
("United States", "Senegal", 46),
("Samoa", "United States", 28),
("United States", "Angola", 18),
("Kazakhstan", "United States", 3),
("Switzerland", "United States", 315),
("United States", "Anguilla", 20),
("Sint Maarten", "United States", 61),
("Hong Kong", "United States", 252),
("Trinidad and Tobago", "United States", 187),
("Latvia", "United States", 12),
("United States", "Ecuador", 345),
("Slovakia", "United States", 1),
("Suriname", "United States", 12),
("Mexico", "United States", 6200),
("United States", "Cyprus", 1),
("Ecuador", "United States", 272),
("United States", "Bosnia and Herzegovina", 1),
("United States", "Portugal", 104),
("United States", "Costa Rica", 501),
("United States", "Guatemala", 333),
("United States", "Suriname", 13),
("Colombia", "United States", 785),
("United States", "Cape Verde", 18),
("United States", "Jamaica", 757),
("United States", "Malaysia", 3),
("Norway", "United States", 29),
("United States", "Morocco", 16),
("Thailand", "United States", 16),
("Venezuela", "United States", 377),
("United States", "Palau", 30),
("United States", "Samoa", 28),
("United States", "Algeria", 1),
("United States", "Venezuela", 341),
("Panama", "United States", 355),
("United States", "Finland", 20),
("United States", "Chile", 176),
("Morocco", "United States", 16),
("United States", "Greece", 61),
("Antigua and Barbuda", "United States", 123),
("Azerbaijan", "United States", 1),
("United States", "The Bahamas", 959),
("New Zealand", "United States", 86),
("Liberia", "United States", 1),
("United States", "Hong Kong", 293),
("Hungary", "United States", 14),
("United States", "China", 505),
("United States", "Vietnam", 1),
("Sweden", "United States", 65),
("United States", "Kuwait", 25),
("United States", "Dominican Republic", 1150),
("United States", "Egypt", 25),
("Israel", "United States", 117),
("United States", "United States", 348113),
("United States", "Luxembourg", 90),
("Ethiopia", "United States", 12),
("United States", "Poland", 61),
("Martinique", "United States", 23),
("Saint Barthelemy", "United States", 28),
("United States", "Saint Barthelemy", 29),
("United States", "Turkey", 87),
("Barbados", "United States", 130),
("United States", "Estonia", 1),
("United States", "Azerbaijan", 1),
("Germany", "United States", 1392),
("Kyrgyzstan", "United States", 2),
("United States", "South Korea", 621),
("United States", "El Salvador", 464),
("Ireland", "United States", 231),
("United States", "Hungary", 15),
("United States", "Serbia", 1),
("Malaysia", "United States", 1),
("United States", "Panama", 363),
("United States", "Ethiopia", 12),
("United States", "Aruba", 349),
("United States", "Thailand", 13),
("United States", "Netherlands Antilles", 289),
("United States", "Turks and Caicos Islands", 147),
("Cyprus", "United States", 2),
("United States", "Pakistan", 15),
("United States", "Honduras", 393),
("Qatar", "United States", 41),
("Fiji", "United States", 53),
("Saint Kitts and Nevis", "United States", 113),
("Taiwan", "United States", 275),
("Haiti", "United States", 238),
("Kuwait", "United States", 26),
("Canada", "United States", 8271),
("Federated States of Micronesia", "United States", 46),
("United States", "Liberia", 1),
("Jamaica", "United States", 733),
("United States", "Malta", 2),
("Dominican Republic", "United States", 1109),
("Japan", "United States", 1383),
("United States", "Saint Vincent and the Grenadines", 16),
("United States", "Guadeloupe", 33),
("Finland", "United States", 24),
("United States", "Ukraine", 17),
("United States", "France", 776),
("United States", "Norway", 36),
("Aruba", "United States", 359),
("French Guiana", "United States", 4),
("United States", "Kiribati", 18),
("India", "United States", 66),
("British Virgin Islands", "United States", 49),
("United States", "Germany", 1406),
("Brazil", "United States", 995),
("United States", "New Zealand", 71),
("French Polynesia", "United States", 38),
("United Arab Emirates", "United States", 165),
("Singapore", "United States", 25),
("United States", "Mexico", 6220),
("Netherlands", "United States", 586),
("United States", "Sweden", 73),
("United States", "Gabon", 1),
("United States", "Martinique", 20),
("United States", "United Arab Emirates", 156),
("United States", "Bulgaria", 2),
("China", "United States", 448),
("Denmark", "United States", 98),
("United States", "Philippines", 116),
("United States", "Nicaragua", 181),
("United States", "Belgium", 355),
("Peru", "United States", 212),
("Argentina", "United States", 184),
("Cayman Islands", "United States", 247),
("South Africa", "United States", 25),
("United States", "Iceland", 129),
("United States", "Argentina", 159),
("Spain", "United States", 422),
("Netherlands Antilles", "United States", 286),
("Bermuda", "United States", 183),
("United States", "Austria", 34),
("United States", "Nigeria", 18),
("United States", "Bonaire, Sint Eustatius, and Saba", 16),
("Kiribati", "United States", 17),
("Saudi Arabia", "United States", 42),
("Czech Republic", "United States", 21),
("Belgium", "United States", 408),
("United States", "Israel", 122),
("United States", "Bahrain", 1),
("United States", "Saint Lucia", 121),
("Afghanistan", "United States", 11),
("United States", "British Virgin Islands", 47),
("Curacao", "United States", 20),
("Georgia", "United States", 2),
("United States", "Guyana", 20),
("United States", "Denmark", 107),
("Philippines", "United States", 132),
("Grenada", "United States", 65),
("Cape Verde", "United States", 18),
("Ukraine", "United States", 19),
("United States", "Papua New Guinea", 1),
("United States", "Saudi Arabia", 54),
("Russia", "United States", 152),
("Guatemala", "United States", 386),
("Saint Lucia", "United States", 116),
("Paraguay", "United States", 90),
("United States", "Curacao", 14),
("United States", "Taiwan", 252),
("United States", "South Africa", 15),
("Turkey", "United States", 75),
("United Kingdom", "United States", 1629),
("United States", "Greenland", 2),
("United States", "Spain", 442),
("Cuba", "United States", 243),
("United States", "Italy", 433),
("United States", "Switzerland", 334),
("Dominica", "United States", 28),
("United States", "Japan", 1307),
("Portugal", "United States", 102),
("United States", "Brazil", 578),
("Bahrain", "United States", 30),
("United States", "Peru", 284),
("Vietnam", "United States", 1),
("United States", "United Kingdom", 1503),
("United States", "Belize", 118),
("Belize", "United States", 121),
("United States", "Ghana", 28),
("United States", "Indonesia", 1),
("United States", "Fiji", 51),
("United States", "Canada", 8305),
("United States", "French Polynesia", 38),
("United States", "Antigua and Barbuda", 121),
("United States", "Burkina Faso", 1),
("Nicaragua", "United States", 178),
("United States", "Latvia", 13),
("United States", "Dominica", 32),
("United States", "Czech Republic", 22),
("United States", "Australia", 216),
("Austria", "United States", 36),
("United States", "Cook Islands", 12),
("Jordan", "United States", 50),
("Palau", "United States", 31),
("Uganda", "United States", 2),
("United States", "Cameroon", 1),
("South Korea", "United States", 683),
("Angola", "United States", 14),
("Ghana", "United States", 27),
("Guadeloupe", "United States", 40),
("France", "United States", 774),
("United States", "Kyrgyzstan", 12),
("Poland", "United States", 62),
("Nigeria", "United States", 16),
("United States", "Uruguay", 24),
("Greenland", "United States", 2),
("Chile", "United States", 166),
("United States", "Bermuda", 180),
("United States", "Cuba", 235),
("United States", "Colombia", 832),
("United States", "Qatar", 40),
("United States", "Barbados", 119),
("Australia", "United States", 290),
("United States", "Jordan", 51),
("United States", "Cayman Islands", 251),
("United States", "Trinidad and Tobago", 200),
("United States", "Bolivia", 39),
("United States", "Slovakia", 1),
("Uruguay", "United States", 54),
("Cook Islands", "United States", 13),
("United States", "Saint Kitts and Nevis", 127),
("Bulgaria", "United States", 1),
("United States", "French Guiana", 1),
("United States", "Haiti", 226),
("United States", "Uganda", 1),
("Bonaire, Sint Eustatius, and Saba", "United States", 16),
("Greece", "United States", 50)
]


# define the schmea for better perofrmance and data integrity
schema = StructType([
    StructField("DEST_COUNTRY_NAME",StringType(),True),
    StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
    StructField("count",IntegerType(),True)
])

# creating the dataframe
df = spark.createDataFrame(travel_data,schema)

print("dataframe created succesfully ")
print(f"Number of rows: {df.count()}")

dataframe created succesfully
Number of rows: 255

In [27]:
## basic dataframe exploration

# show the schema
print("\n DataFrame Schema:")
df.printSchema()

# show few rows
print("\n first 10 rows:")
df.show(10)


# Get basic statistics
print(f"\nðŸ“ˆ Total number of records: {df.count()}")
print(f"ðŸ“ˆ Number of columns: {len(df.columns)}")
print(f"ðŸ“ˆ Column names: {df.columns}")

 DataFrame Schema:
root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)


 first 10 rows:
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 10 rows


ðŸ“ˆ Total number of records: 255
ðŸ“ˆ Number of columns: 3
ðŸ“ˆ Column names: ['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

In [28]:
# basic transformation
print("==== basic transformation===")

# select specific columns
print("\n selecting destination countires only:")
df.select("DEST_COUNTRY_NAME").distinct().show()

# filter data - countires with more than 100 travler .
print("\n rotes with more than 100 travler:")
df.filter(col("count")>100).show()

# order by count (descending)
print("\n top 1- routes by travler count:")
df.orderBy(desc("count")).show(10)

==== basic transformation===

 selecting destination countires only:
+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|             Senegal|
|              Sweden|
|              Guyana|
|            Malaysia|
|                Fiji|
|             Germany|
|Turks and Caicos ...|
|              Taiwan|
|   Equatorial Guinea|
|            Slovakia|
|             Ecuador|
|               Qatar|
|             Finland|
|       United States|
|               Malta|
|              Kuwait|
|    Marshall Islands|
|          Martinique|
|             Bolivia|
+--------------------+
only showing top 20 rows


 rotes with more than 100 travler:
+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Ireland|  264|
|          Costa Rica|      United States|  477|
|Turks and Caicos ...|      United States|  136|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
|       United States|        Netherlands|  570|
|             Iceland|      United States|  118|
|            Honduras|      United States|  391|
|         The Bahamas|      United States|  903|
|         El Salvador|      United States|  519|
|         Switzerland|      United States|  315|
|           Hong Kong|      United States|  252|
| Trinidad and Tobago|      United States|  187|
|       United States|            Ecuador|  345|
|              Mexico|      United States| 6200|
|             Ecuador|      United States|  272|
|       United States|           Portugal|  104|
|       United States|         Costa Rica|  501|
|       United States|          Guatemala|  333|
|            Colombia|      United States|  785|
+--------------------+-------------------+-----+
only showing top 20 rows


 top 1- routes by travler count:
+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|348113|
|    United States|             Canada|  8305|
|           Canada|      United States|  8271|
|    United States|             Mexico|  6220|
|           Mexico|      United States|  6200|
|   United Kingdom|      United States|  1629|
|    United States|     United Kingdom|  1503|
|    United States|            Germany|  1406|
|          Germany|      United States|  1392|
|            Japan|      United States|  1383|
+-----------------+-------------------+------+
only showing top 10 rows

In [29]:
# perform the basic aggregations

print("===BASIC AGGREGATIONS ===")

# group by destination country and sum travelers
print("\n Total traveler by destination country:")
dest_summary = df.groupBy("DEST_COUNTRY_NAME").sum("count").orderBy(desc("sum(count)"))
dest_summary.show()

# Group by origin country and sum travlers
print("\n Total travlers by origin country")
origin_summary = df.groupBy("ORIGIN_COUNTRY_NAME").sum("count").orderBy(desc("sum(count)"))
origin_summary.show()

# overall statistics
print("\n OVerall travel statistics:")
df.agg(
    sum("count").alias("total_travelers"),
    avg("count").alias("average_travelers"),
    max("count").alias("max_travelers"),
    min("count").alias("min_travelers")
).show()

===BASIC AGGREGATIONS ===

 Total traveler by destination country:
+------------------+----------+
| DEST_COUNTRY_NAME|sum(count)|
+------------------+----------+
|     United States|    384932|
|            Canada|      8271|
|            Mexico|      6200|
|    United Kingdom|      1629|
|           Germany|      1392|
|             Japan|      1383|
|Dominican Republic|      1109|
|            Brazil|       995|
|       The Bahamas|       903|
|          Colombia|       785|
|            France|       774|
|           Jamaica|       733|
|       South Korea|       683|
|       Netherlands|       586|
|       El Salvador|       519|
|        Costa Rica|       477|
|             China|       448|
|             Spain|       422|
|           Belgium|       408|
|          Honduras|       391|
+------------------+----------+
only showing top 20 rows


 Total travlers by origin country
+-------------------+----------+
|ORIGIN_COUNTRY_NAME|sum(count)|
+-------------------+----------+
|      United States|    385450|
|             Canada|      8305|
|             Mexico|      6220|
|     United Kingdom|      1503|
|            Germany|      1406|
|              Japan|      1307|
| Dominican Republic|      1150|
|        The Bahamas|       959|
|           Colombia|       832|
|             France|       776|
|            Jamaica|       757|
|        South Korea|       621|
|             Brazil|       578|
|        Netherlands|       570|
|              China|       505|
|         Costa Rica|       501|
|        El Salvador|       464|
|              Spain|       442|
|              Italy|       433|
|           Honduras|       393|
+-------------------+----------+
only showing top 20 rows


 OVerall travel statistics:
+---------------+-----------------+-------------+-------------+
|total_travelers|average_travelers|max_travelers|min_travelers|
+---------------+-----------------+-------------+-------------+
|         422269|1655.956862745098|       348113|            1|
+---------------+-----------------+-------------+-------------+

In [30]:
## solution of chaalange

## which country destination received the most travler ?

print("\n Challenge 1: Top destination country")
top_destination =df.groupBy("DEST_COUNTRY_NAME")\
      .sum("count")\
      .orderBy(desc("sum(count)")) \
      .first()
print(f"Top destination: {top_destination['DEST_COUNTRY_NAME']} with {top_destination['sum(count)']} travelers")

print("\n Challange 2: Top origin country")
top_origin = df.groupBy("ORIGIN_COUNTRY_NAME")\
    .sum("count")\
    .orderBy(desc("sum(count)"))\
    .first()
print(f"Top origin: {top_origin['ORIGIN_COUNTRY_NAME']} with {top_destination['sum(count)']} travelers")

print("\n Challenge 3: Total travelers")
total_travlers = df.agg(sum("count")).collect()[0][0]
print(f"Total travlers: {total_travlers}")


print("\n Challange 4 : Unique country pairs")
unique_pairs = df.select("DEST_COUNTRY_NAME","ORIGIN_COUNTRY_NAME").distinct().count()
print(f"Unique country pairs: {unique_pairs}")

 Challenge 1: Top destination country
Top destination: United States with 384932 travelers

 Challange 2: Top origin country
Top origin: United States with 384932 travelers

 Challenge 3: Total travelers
Total travlers: 422269

 Challange 4 : Unique country pairs
Unique country pairs: 255

In [31]:
## understanding the LAZY Evalution

print("==== Understand LAZY EVALUTION===")

# create a transofrmation chain  (these are lazy - not executed yet)
lazy_df = df.filter(col("count") > 50) \
    .select("DEST_COUNTRY_NAME","ORIGIN_COUNTRY_NAME","count")\
    .orderBy(desc("count"))

print(" Transformation chain created ( not executed yet)")

# now trigger execution with an action
print("\n Triggering execution with .show():")
lazy_df.show(5)

==== Understand LAZY EVALUTION===
 Transformation chain created ( not executed yet)

 Triggering execution with .show():
+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|348113|
|    United States|             Canada|  8305|
|           Canada|      United States|  8271|
|    United States|             Mexico|  6220|
|           Mexico|      United States|  6200|
+-----------------+-------------------+------+
only showing top 5 rows

In [32]:
# =============================================================================
# CELL 9: EXPLORING SPARK UI AND PERFORMANCE
# =============================================================================

print("=== PERFORMANCE AND MONITORING ===")

# Show Spark application UI URL
print(f" Spark UI available at: {spark.sparkContext.uiWebUrl}")
print(" You can monitor your Spark jobs and performance here")

# Show current Spark configuration
print(f"\n Spark Master: {spark.sparkContext.master}")
print(f" Application Name: {spark.sparkContext.appName}")
print(f" Default Parallelism: {spark.sparkContext.defaultParallelism}")

=== PERFORMANCE AND MONITORING ===
 Spark UI available at: http://da7bfc25f101:4040
 You can monitor your Spark jobs and performance here

 Spark Master: local[*]
 Application Name: PySpark Learning -Day 1
 Default Parallelism: 2

In [20]:
## 1. Find all routes where United States is the destination
print("\n  all route where USA is destination")
us_destinations = df.filter(col("DEST_COUNTRY_NAME") == "United States")
us_destinations.show()

  all route where USA is destination
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|    United States|   Marshall Islands|   44|
|    United States|       Sint Maarten|   53|
|    United States|             Mexico| 6220|
|    United States|             Canada| 8305|
|    United States|     United Kingdom| 1503|
+-----------------+-------------------+-----+

In [33]:
#load csv into dataframe
dff = spark.read.csv("2010-summary.csv",header=True,inferSchema=True)

In [34]:
dff.printSchema()
dff.show(5)

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [35]:
# create a temporary view for SQL
dff.createOrReplaceTempView("routes")

In [38]:
print("Routes with united states as destination:")
us_routess = spark.sql("SELECT * FROM routes WHERE DEST_COUNTRY_NAME = 'United States'")
us_routess.show()

Routes with united states as destination:
+-----------------+--------------------+-----+
|DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+-----------------+--------------------+-----+
|    United States|             Romania|    1|
|    United States|             Ireland|  264|
|    United States|               India|   69|
|    United States|           Singapore|   25|
|    United States|             Grenada|   54|
|    United States|    Marshall Islands|   44|
|    United States|        Sint Maarten|   53|
|    United States|         Afghanistan|    2|
|    United States|              Russia|  156|
|    United States|Federated States ...|   48|
|    United States|         Netherlands|  570|
|    United States|             Senegal|   46|
|    United States|              Angola|   18|
|    United States|            Anguilla|   20|
|    United States|             Ecuador|  345|
|    United States|              Cyprus|    1|
|    United States|Bosnia and Herzeg...|    1|
|    United States|            Portugal|  104|
|    United States|          Costa Rica|  501|
|    United States|           Guatemala|  333|
+-----------------+--------------------+-----+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import avg
avg_travelers =df.groupBy("ORIGIN_COUNTRY_NAME","DEST_COUNTRY_NAME").agg(avg("count").alias("avg_travelers"))
avg_travelers.show()

+-------------------+--------------------+-------------+
|ORIGIN_COUNTRY_NAME|   DEST_COUNTRY_NAME|avg_travelers|
+-------------------+--------------------+-------------+
|            Romania|       United States|          1.0|
|            Ireland|       United States|        264.0|
|              India|       United States|         69.0|
|      United States|               Egypt|         24.0|
|      United States|   Equatorial Guinea|          1.0|
|          Singapore|       United States|         25.0|
|            Grenada|       United States|         54.0|
|      United States|          Costa Rica|        477.0|
|      United States|             Senegal|         29.0|
|   Marshall Islands|       United States|         44.0|
|      United States|              Guyana|         17.0|
|       Sint Maarten|       United States|         53.0|
|      United States|               Malta|          1.0|
|      United States|             Bolivia|         46.0|
|      United States|            Anguilla|         21.0|
|      United States|Turks and Caicos ...|        136.0|
|        Afghanistan|       United States|          2.0|
|      United States|Saint Vincent and...|          1.0|
|      United States|               Italy|        390.0|
|             Russia|       United States|        156.0|
+-------------------+--------------------+-------------+
only showing top 20 rows

3. Find countries that appear as both origin and destination

In [44]:
origins=df.select("ORIGIN_COUNTRY_NAME").distinct()
destinations=df.select("DEST_COUNTRY_NAME").distinct()
common_countires = origins.join(destinations,origins["ORIGIN_COUNTRY_NAME"] == destinations["DEST_COUNTRY_NAME"],"inner").select(origins["ORIGIN_COUNTRY_NAME"])
common_countires.show()

+--------------------+
| ORIGIN_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|             Senegal|
|              Sweden|
|              Guyana|
|            Malaysia|
|                Fiji|
|             Germany|
|Turks and Caicos ...|
|              Taiwan|
|            Slovakia|
|             Ecuador|
|               Qatar|
|             Finland|
|       United States|
|               Malta|
|              Kuwait|
|    Marshall Islands|
|          Martinique|
|             Bolivia|
|               Italy|
+--------------------+
only showing top 20 rows

In [47]:
# Create a new column showing if the route has 'high traffic' (>500 travelers)

df_with_traffic = df.withColumn("high_traffic",when(df["count"]>500,True).otherwise(False))
df_with_traffic.show(30)

+--------------------+--------------------+-----+------------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|high_traffic|
+--------------------+--------------------+-----+------------+
|       United States|             Romania|    1|       false|
|       United States|             Ireland|  264|       false|
|       United States|               India|   69|       false|
|               Egypt|       United States|   24|       false|
|   Equatorial Guinea|       United States|    1|       false|
|       United States|           Singapore|   25|       false|
|       United States|             Grenada|   54|       false|
|          Costa Rica|       United States|  477|       false|
|             Senegal|       United States|   29|       false|
|       United States|    Marshall Islands|   44|       false|
|              Guyana|       United States|   17|       false|
|       United States|        Sint Maarten|   53|       false|
|               Malta|       United States|    1|       false|
|             Bolivia|       United States|   46|       false|
|            Anguilla|       United States|   21|       false|
|Turks and Caicos ...|       United States|  136|       false|
|       United States|         Afghanistan|    2|       false|
|Saint Vincent and...|       United States|    1|       false|
|               Italy|       United States|  390|       false|
|       United States|              Russia|  156|       false|
|       United States|Federated States ...|   48|       false|
|            Pakistan|       United States|    9|       false|
|       United States|         Netherlands|  570|        true|
|             Iceland|       United States|  118|       false|
|    Marshall Islands|       United States|   77|       false|
|          Luxembourg|       United States|   91|       false|
|            Honduras|       United States|  391|       false|
|         The Bahamas|       United States|  903|        true|
|         El Salvador|       United States|  519|        true|
|       United States|             Senegal|   46|       false|
+--------------------+--------------------+-----+------------+
only showing top 30 rows

In [49]:
#find the route with exactly 264 travelers
route_264 = df.filter(df["count"] == 264)
route_264.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  264|
+-----------------+-------------------+-----+

In [52]:
print("Routes with high traffic column:")
df_with_traffic = spark.sql("""
SELECT *,CASE WHEN count > 500 THEN TRUE ELSE FALSE END AS high_traffic
FROM routes
""")
df_with_traffic.show(30)

Routes with high traffic column:
+--------------------+--------------------+-----+------------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|high_traffic|
+--------------------+--------------------+-----+------------+
|       United States|             Romania|    1|       false|
|       United States|             Ireland|  264|       false|
|       United States|               India|   69|       false|
|               Egypt|       United States|   24|       false|
|   Equatorial Guinea|       United States|    1|       false|
|       United States|           Singapore|   25|       false|
|       United States|             Grenada|   54|       false|
|          Costa Rica|       United States|  477|       false|
|             Senegal|       United States|   29|       false|
|       United States|    Marshall Islands|   44|       false|
|              Guyana|       United States|   17|       false|
|       United States|        Sint Maarten|   53|       false|
|               Malta|       United States|    1|       false|
|             Bolivia|       United States|   46|       false|
|            Anguilla|       United States|   21|       false|
|Turks and Caicos ...|       United States|  136|       false|
|       United States|         Afghanistan|    2|       false|
|Saint Vincent and...|       United States|    1|       false|
|               Italy|       United States|  390|       false|
|       United States|              Russia|  156|       false|
|       United States|Federated States ...|   48|       false|
|            Pakistan|       United States|    9|       false|
|       United States|         Netherlands|  570|        true|
|             Iceland|       United States|  118|       false|
|    Marshall Islands|       United States|   77|       false|
|          Luxembourg|       United States|   91|       false|
|            Honduras|       United States|  391|       false|
|         The Bahamas|       United States|  903|        true|
|         El Salvador|       United States|  519|        true|
|       United States|             Senegal|   46|       false|
+--------------------+--------------------+-----+------------+
only showing top 30 rows